/* ----------------------------------------------------------------

Layout

----------------------------------------------------------------*/
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; 
}

.heroSection{
  display: flex;
  justify-content: space-between;

  .leftSection{
    width: 45%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3{
      font-size: 2rem;
    }
  }
  
  .rightSection{
    width: 45%;
    height: 60%;
    

    img{
      max-width: 100%;
      object-fit: contain;
    }
  }

.heroHeading{
  font-size: 4rem;
  font-weight: bold;
  }

}