/* ----------------------------------------------------------------

Layout

----------------------------------------------------------------*/
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; 
}

.heroSection{

  display: flex;
  justify-content: space-between;

  .leftSection{
    width: 45%;
  }
  .rightSection{}
    width: 45%;
}

.heroHeading{
  font-size: 2.5rem;
}